[submodule "small-webserver"]
	path = small-webserver
	url = https://github.com/skhamvon/small-webserver.git

[submodule "abtest-solution"]
	path = abtest-solution
	url = https://github.com/skhamvon/abtest-solution.git
